In [58]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('iris.csv')

In [5]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
print(df.tail())

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [7]:
print(df.shape)

(150, 5)

In [8]:
print(df.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [9]:
print(df.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [10]:
print(df.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
titles = df.loc[:, 'sepal_length']
print(titles)

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [12]:
titles = df.loc[10:20, ['sepal_length', 'sepal_width', 'petal_length']]
print(titles)

    sepal_length  sepal_width  petal_length
10           5.4          3.7           1.5
11           4.8          3.4           1.6
12           4.8          3.0           1.4
13           4.3          3.0           1.1
14           5.8          4.0           1.2
15           5.7          4.4           1.5
16           5.4          3.9           1.3
17           5.1          3.5           1.4
18           5.7          3.8           1.7
19           5.1          3.8           1.5
20           5.4          3.4           1.7

In [13]:
df1 = df.loc[df['sepal_width'] == 3.7]
print(df1)

    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
48           5.3          3.7           1.5          0.2  setosa

In [14]:
df2 = df.loc[df['sepal_width'] == 3.7, 'sepal_width']
print(df2)

10    3.7
21    3.7
48    3.7
Name: sepal_width, dtype: float64

In [15]:
multi = df.loc[(df['sepal_width'] >= 3.7) & (df['sepal_length'] >= 4.0)]
print(multi)

     sepal_length  sepal_width  petal_length  petal_width    species
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
21            5.1          3.7           1.5          0.4     setosa
32            5.2          4.1           1.5          0.1     setosa
33            5.5          4.2           1.4          0.2     setosa
44            5.1          3.8           1.9          0.4     setosa
46            5.1          3.8           1.6          0.2     setosa
48            5.3          3.7           1.5          0.2     setosa
117           7.7          3.8           6.7          2.2  virginica
131           7.9          3.8           6.4          2.0  virginica

In [16]:
multi = df.loc[(df['sepal_width'] >= 3.7) & (df['sepal_length'] >= 4.0), ['sepal_width', 'sepal_length']]
print(multi)

     sepal_width  sepal_length
5            3.9           5.4
10           3.7           5.4
14           4.0           5.8
15           4.4           5.7
16           3.9           5.4
18           3.8           5.7
19           3.8           5.1
21           3.7           5.1
32           4.1           5.2
33           4.2           5.5
44           3.8           5.1
46           3.8           5.1
48           3.7           5.3
117          3.8           7.7
131          3.8           7.9

In [17]:
multi = df.iloc[5:15, 0:2]
print(multi)

    sepal_length  sepal_width
5            5.4          3.9
6            4.6          3.4
7            5.0          3.4
8            4.4          2.9
9            4.9          3.1
10           5.4          3.7
11           4.8          3.4
12           4.8          3.0
13           4.3          3.0
14           5.8          4.0

In [18]:
first_name = df.at[0, 'sepal_length']
print(first_name)

5.1

In [19]:
filter = df[df['sepal_length'] > 7.0]
print(filter)

     sepal_length  sepal_width  petal_length  petal_width    species
102           7.1          3.0           5.9          2.1  virginica
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
125           7.2          3.2           6.0          1.8  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [20]:
filter = df.loc[df['sepal_length'] > 7.0, 'sepal_length']
print(filter)

102    7.1
105    7.6
107    7.3
109    7.2
117    7.7
118    7.7
122    7.7
125    7.2
129    7.2
130    7.4
131    7.9
135    7.7
Name: sepal_length, dtype: float64

In [21]:
Multi_filter = df[(df['sepal_length'] > 5.0) & (df['sepal_width'] > 4.0)]
print(Multi_filter)

    sepal_length  sepal_width  petal_length  petal_width species
15           5.7          4.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa

In [22]:
Multi_filter = df.loc[(df['sepal_length'] > 5.0) & (df['sepal_width'] > 4.0), ['sepal_length', 'sepal_width']]
print(Multi_filter)

    sepal_length  sepal_width
15           5.7          4.4
32           5.2          4.1
33           5.5          4.2

In [23]:
df.drop(labels = 'sepal_length', axis = 1)

     sepal_width  petal_length  petal_width    species
0            3.5           1.4          0.2     setosa
1            3.0           1.4          0.2     setosa
2            3.2           1.3          0.2     setosa
3            3.1           1.5          0.2     setosa
4            3.6           1.4          0.2     setosa
..           ...           ...          ...        ...
145          3.0           5.2          2.3  virginica
146          2.5           5.0          1.9  virginica
147          3.0           5.2          2.0  virginica
148          3.4           5.4          2.3  virginica
149          3.0           5.1          1.8  virginica

[150 rows x 4 columns]

In [43]:
df.at[0, 'sepal_width'] = 3.0
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length_cal
0,Short,3.0,1.4,0.2,setosa,Short
1,Short,3.0,1.4,0.2,setosa,Short
2,Long,3.2,1.3,0.2,setosa,Long
3,Long,3.1,1.5,0.2,setosa,Long
4,Long,3.6,1.4,0.2,setosa,Long
...,...,...,...,...,...,...
145,Short,3.0,5.2,2.3,virginica,Short
146,Short,2.5,5.0,1.9,virginica,Short
147,Short,3.0,5.2,2.0,virginica,Short
148,Long,3.4,5.4,2.3,virginica,Long
149,Short,3.0,5.1,1.8,virginica,Short

In [45]:
df['sepal_length_cal'] = df['sepal_width'].apply(lambda x:'Long' if x > 3.0 else 'Short')
df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length_cal
0,Short,3.0,1.4,0.2,setosa,Short
1,Short,3.0,1.4,0.2,setosa,Short
2,Long,3.2,1.3,0.2,setosa,Long
3,Long,3.1,1.5,0.2,setosa,Long
4,Long,3.6,1.4,0.2,setosa,Long

In [46]:
df['sepal_width'].map({3.1: 3.01, 3.5: 3.50})
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length_cal
0,Short,3.0,1.4,0.2,setosa,Short
1,Short,3.0,1.4,0.2,setosa,Short
2,Long,3.2,1.3,0.2,setosa,Long
3,Long,3.1,1.5,0.2,setosa,Long
4,Long,3.6,1.4,0.2,setosa,Long
...,...,...,...,...,...,...
145,Short,3.0,5.2,2.3,virginica,Short
146,Short,2.5,5.0,1.9,virginica,Short
147,Short,3.0,5.2,2.0,virginica,Short
148,Long,3.4,5.4,2.3,virginica,Long
149,Short,3.0,5.1,1.8,virginica,Short

In [48]:
df.rename(columns={'sepal_length_cal': 'size'}, inplace=True)
df

    sepal_length  sepal_width  petal_length  petal_width    species   size
0          Short          3.0           1.4          0.2     setosa  Short
1          Short          3.0           1.4          0.2     setosa  Short
2           Long          3.2           1.3          0.2     setosa   Long
3           Long          3.1           1.5          0.2     setosa   Long
4           Long          3.6           1.4          0.2     setosa   Long
..           ...          ...           ...          ...        ...    ...
145        Short          3.0           5.2          2.3  virginica  Short
146        Short          2.5           5.0          1.9  virginica  Short
147        Short          3.0           5.2          2.0  virginica  Short
148         Long          3.4           5.4          2.3  virginica   Long
149        Short          3.0           5.1          1.8  virginica  Short

[150 rows x 6 columns]

In [50]:
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 5)

df

    sepal_length  sepal_width  ...    species   size
0          Short          3.0  ...     setosa  Short
1          Short          3.0  ...     setosa  Short
2           Long          3.2  ...     setosa   Long
3           Long          3.1  ...     setosa   Long
4           Long          3.6  ...     setosa   Long
..           ...          ...  ...        ...    ...
145        Short          3.0  ...  virginica  Short
146        Short          2.5  ...  virginica  Short
147        Short          3.0  ...  virginica  Short
148         Long          3.4  ...  virginica   Long
149        Short          3.0  ...  virginica  Short

[150 rows x 6 columns]

In [53]:
pd.reset_option('display')
df

    sepal_length  sepal_width  petal_length  petal_width    species   size
0          Short          3.0           1.4          0.2     setosa  Short
1          Short          3.0           1.4          0.2     setosa  Short
2           Long          3.2           1.3          0.2     setosa   Long
3           Long          3.1           1.5          0.2     setosa   Long
4           Long          3.6           1.4          0.2     setosa   Long
..           ...          ...           ...          ...        ...    ...
145        Short          3.0           5.2          2.3  virginica  Short
146        Short          2.5           5.0          1.9  virginica  Short
147        Short          3.0           5.2          2.0  virginica  Short
148         Long          3.4           5.4          2.3  virginica   Long
149        Short          3.0           5.1          1.8  virginica  Short

[150 rows x 6 columns]

In [57]:
group_data = df.groupby('species')

for i, data in group_data:
    print(f"Species: {i}")
    print(data)
    print()

Species: setosa
   sepal_length  sepal_width  petal_length  petal_width species   size
0         Short          3.0           1.4          0.2  setosa  Short
1         Short          3.0           1.4          0.2  setosa  Short
2          Long          3.2           1.3          0.2  setosa   Long
3          Long          3.1           1.5          0.2  setosa   Long
4          Long          3.6           1.4          0.2  setosa   Long
5          Long          3.9           1.7          0.4  setosa   Long
6          Long          3.4           1.4          0.3  setosa   Long
7          Long          3.4           1.5          0.2  setosa   Long
8         Short          2.9           1.4          0.2  setosa  Short
9          Long          3.1           1.5          0.1  setosa   Long
10         Long          3.7           1.5          0.2  setosa   Long
11         Long          3.4           1.6          0.2  setosa   Long
12        Short          3.0           1.4          0.1  setosa  Short
13        Short          3.0           1.1          0.1  setosa  Short
14         Long          4.0           1.2          0.2  setosa   Long
15         Long          4.4           1.5          0.4  setosa   Long
16         Long          3.9           1.3          0.4  setosa   Long
17         Long          3.5           1.4          0.3  setosa   Long
18         Long          3.8           1.7          0.3  setosa   Long
19         Long          3.8           1.5          0.3  setosa   Long
20         Long          3.4           1.7          0.2  setosa   Long
21         Long          3.7           1.5          0.4  setosa   Long
22         Long          3.6           1.0          0.2  setosa   Long
23         Long          3.3           1.7          0.5  setosa   Long
24         Long          3.4           1.9          0.2  setosa   Long
25        Short          3.0           1.6          0.2  setosa  Short
26         Long          3.4           1.6          0.4  setosa   Long
27         Long          3.5           1.5          0.2  setosa   Long
28         Long          3.4           1.4          0.2  setosa   Long
29         Long          3.2           1.6          0.2  setosa   Long
30         Long          3.1           1.6          0.2  setosa   Long
31         Long          3.4           1.5          0.4  setosa   Long
32         Long          4.1           1.5          0.1  setosa   Long
33         Long          4.2           1.4          0.2  setosa   Long
34         Long          3.1           1.5          0.1  setosa   Long
35         Long          3.2           1.2          0.2  setosa   Long
36         Long          3.5           1.3          0.2  setosa   Long
37         Long          3.1           1.5          0.1  setosa   Long
38        Short          3.0           1.3          0.2  setosa  Short
39         Long          3.4           1.5          0.2  setosa   Long
40         Long          3.5           1.3          0.3  setosa   Long
41        Short          2.3           1.3          0.3  setosa  Short
42         Long          3.2           1.3          0.2  setosa   Long
43         Long          3.5           1.6          0.6  setosa   Long
44         Long          3.8           1.9          0.4  setosa   Long
45        Short          3.0           1.4          0.3  setosa  Short
46         Long          3.8           1.6          0.2  setosa   Long
47         Long          3.2           1.4          0.2  setosa   Long
48         Long          3.7           1.5          0.2  setosa   Long
49         Long          3.3           1.4          0.2  setosa   Long

Species: versicolor
   sepal_length  sepal_width  petal_length  petal_width     species   size
50         Long          3.2           4.7          1.4  versicolor   Long
51         Long          3.2           4.5          1.5  versicolor   Long
52         Long          3.1           4.9          1.5  versicolor   Long
53        Short          2.3           4.0          1.3  versicolor  Short
54        Short          2.8           4.6          1.5  versicolor  Short
55        Short          2.8           4.5          1.3  versicolor  Short
56         Long          3.3           4.7          1.6  versicolor   Long
57        Short          2.4           3.3          1.0  versicolor  Short
58        Short          2.9           4.6          1.3  versicolor  Short
59        Short          2.7           3.9          1.4  versicolor  Short
60        Short          2.0           3.5          1.0  versicolor  Short
61        Short          3.0           4.2          1.5  versicolor  Short
62        Short          2.2           4.0          1.0  versicolor  Short
63        Short          2.9           4.7          1.4  versicolor  Short
64        Short          2.9           3.6          1.3  versicolor  Short
65         Long          3.1           4.4          1.4  versicolor   Long
66        Short          3.0           4.5          1.5  versicolor  Short
67        Short          2.7           4.1          1.0  versicolor  Short
68        Short          2.2           4.5          1.5  versicolor  Short
69        Short          2.5           3.9          1.1  versicolor  Short
70         Long          3.2           4.8          1.8  versicolor   Long
71        Short          2.8           4.0          1.3  versicolor  Short
72        Short          2.5           4.9          1.5  versicolor  Short
73        Short          2.8           4.7          1.2  versicolor  Short
74        Short          2.9           4.3          1.3  versicolor  Short
75        Short          3.0           4.4          1.4  versicolor  Short
76        Short          2.8           4.8          1.4  versicolor  Short
77        Short          3.0           5.0          1.7  versicolor  Short
78        Short          2.9           4.5          1.5  versicolor  Short
79        Short          2.6           3.5          1.0  versicolor  Short
80        Short          2.4           3.8          1.1  versicolor  Short
81        Short          2.4           3.7          1.0  versicolor  Short
82        Short          2.7           3.9          1.2  versicolor  Short
83        Short          2.7           5.1          1.6  versicolor  Short
84        Short          3.0           4.5          1.5  versicolor  Short
85         Long          3.4           4.5          1.6  versicolor   Long
86         Long          3.1           4.7          1.5  versicolor   Long
87        Short          2.3           4.4          1.3  versicolor  Short
88        Short          3.0           4.1          1.3  versicolor  Short
89        Short          2.5           4.0          1.3  versicolor  Short
90        Short          2.6           4.4          1.2  versicolor  Short
91        Short          3.0           4.6          1.4  versicolor  Short
92        Short          2.6           4.0          1.2  versicolor  Short
93        Short          2.3           3.3          1.0  versicolor  Short
94        Short          2.7           4.2          1.3  versicolor  Short
95        Short          3.0           4.2          1.2  versicolor  Short
96        Short          2.9           4.2          1.3  versicolor  Short
97        Short          2.9           4.3          1.3  versicolor  Short
98        Short          2.5           3.0          1.1  versicolor  Short
99        Short          2.8           4.1          1.3  versicolor  Short

Species: virginica
    sepal_length  sepal_width  petal_length  petal_width    species   size
100         Long          3.3           6.0          2.5  virginica   Long
101        Short          2.7           5.1          1.9  virginica  Short
102        Short          3.0           5.9          2.1  virginica  Short
103        Short          2.9           5.6          1.8  virginica  Short
104        Short          3.0           5.8          2.2  virginica  Short
105        Short          3.0           6.6          2.1  virginica  Short
106        Short          2.5           4.5          1.7  virginica  Short
107        Short          2.9           6.3          1.8  virginica  Short
108        Short          2.5           5.8          1.8  virginica  Short
109         Long          3.6           6.1          2.5  virginica   Long
110         Long          3.2           5.1          2.0  virginica   Long
111        Short          2.7           5.3          1.9  virginica  Short
112        Short          3.0           5.5          2.1  virginica  Short
113        Short          2.5           5.0          2.0  virginica  Short
114        Short          2.8           5.1          2.4  virginica  Short
115         Long          3.2           5.3          2.3  virginica   Long
116        Short          3.0           5.5          1.8  virginica  Short
117         Long          3.8           6.7          2.2  virginica   Long
118        Short          2.6           6.9          2.3  virginica  Short
119        Short          2.2           5.0          1.5  virginica  Short
120         Long          3.2           5.7          2.3  virginica   Long
121        Short          2.8           4.9          2.0  virginica  Short
122        Short          2.8           6.7          2.0  virginica  Short
123        Short          2.7           4.9          1.8  virginica  Short
124         Long          3.3           5.7          2.1  virginica   Long
125         Long          3.2           6.0          1.8  virginica   Long
126        Short          2.8           4.8          1.8  virginica  Short
127        Short          3.0           4.9          1.8  virginica  Short
128        Short          2.8           5.6          2.1  virginica  Short
129        Short          3.0           5.8          1.6  virginica  Short
130        Short          2.8           6.1          1.9  virginica  Short
131         Long          3.8           6.4          2.0  virginica   Long
132        Short          2.8           5.6          2.2  virginica  Short
133        Short          2.8           5.1          1.5  virginica  Short
134        Short          2.6           5.6          1.4  virginica  Short
135        Short          3.0           6.1          2.3  virginica  Short
136         Long          3.4           5.6          2.4  virginica   Long
137         Long          3.1           5.5          1.8  virginica   Long
138        Short          3.0           4.8          1.8  virginica  Short
139         Long          3.1           5.4          2.1  virginica   Long
140         Long          3.1           5.6          2.4  virginica   Long
141         Long          3.1           5.1          2.3  virginica   Long
142        Short          2.7           5.1          1.9  virginica  Short
143         Long          3.2           5.9          2.3  virginica   Long
144         Long          3.3           5.7          2.5  virginica   Long
145        Short          3.0           5.2          2.3  virginica  Short
146        Short          2.5           5.0          1.9  virginica  Short
147        Short          3.0           5.2          2.0  virginica  Short
148         Long          3.4           5.4          2.3  virginica   Long
149        Short          3.0           5.1          1.8  virginica  Short

In [60]:
stats = df.groupby('species')['sepal_width'].agg([np.mean,np.std,np.min,np.max])
print(stats)

             mean       std  min  max
species
setosa      3.408  0.385365  2.3  4.4
versicolor  2.770  0.313798  2.0  3.4
virginica   2.974  0.322497  2.2  3.8

C:\Users\vpran\AppData\Local\Temp\ipykernel_10604\2151333417.py:1: FutureWarning: The provided callable <function mean at 0x000001DFDFBAE160> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  stats = df.groupby('species')['sepal_width'].agg([np.mean,np.std,np.min,np.max])
C:\Users\vpran\AppData\Local\Temp\ipykernel_10604\2151333417.py:1: FutureWarning: The provided callable <function std at 0x000001DFDFBAE280> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  stats = df.groupby('species')['sepal_width'].agg([np.mean,np.std,np.min,np.max])
C:\Users\vpran\AppData\Local\Temp\ipykernel_10604\2151333417.py:1: FutureWarning: The provided callable <function min at 0x000001DFDFBAA940> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  stats = df.groupby('species')['sepal_width'].agg([np.mean,np.std,np.min,np.max])
C:\Users\vpran\AppData\Local\Temp\ipykernel_10604\2151333417.py:1: FutureWarning: The provided callable <function max at 0x000001DFDFBAA820> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  stats = df.groupby('species')['sepal_width'].agg([np.mean,np.std,np.min,np.max])

In [62]:
complex = df.groupby('species').agg({
    'sepal_width': np.mean,
    'petal_length': [np.min,np.max],
    'petal_width': 'sum'
})

complex

C:\Users\vpran\AppData\Local\Temp\ipykernel_10604\791800520.py:1: FutureWarning: The provided callable <function mean at 0x000001DFDFBAE160> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  complex = df.groupby('species').agg({
C:\Users\vpran\AppData\Local\Temp\ipykernel_10604\791800520.py:1: FutureWarning: The provided callable <function min at 0x000001DFDFBAA940> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  complex = df.groupby('species').agg({
C:\Users\vpran\AppData\Local\Temp\ipykernel_10604\791800520.py:1: FutureWarning: The provided callable <function max at 0x000001DFDFBAA820> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  complex = df.groupby('species').agg({

           sepal_width petal_length      petal_width
                  mean          min  max         sum
species
setosa           3.408          1.0  1.9        12.2
versicolor       2.770          3.0  5.1        66.3
virginica        2.974          4.5  6.9       101.3